/* jumbotron */

.jumbotron {
    margin-top: 1%;
    color: white;
    font-family: roboto;
    border-radius: 5%;
}

.jumbotron h1 {
    font-size: 450%;
    text-decoration: underline rgb(39, 30, 30);
    margin-bottom: 10%;
}

.jumbotron p {
    font-size: 130%;
    text-align: center;
}

.btn-jumbotron {
    background-color: red;
}


/* bg.jumbotron */

.bg-color-blue-opacity {
    background-color: rgba(79, 79, 212, 0.911);
}

.bg-color-red-opacity {
    background-color: rgba(170, 20, 20, 0.918);
}